<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <aop:aspectj-autoproxy />
    <context:component-scan base-package="cloud.*">
    </context:component-scan>

    <cache:annotation-driven />

    <bean id="ehCacheManagers" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:shared="true"	>
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehCacheManagers"/>
        <property name="transactionAware" value="true"/>
    </bean>

    <bean id="redisCacheManager" class="cloud.tengyee.concurrent.cache.redis.RedisCacheCacheManager">
        <property name="host" value="192.168.1.195"/>
        <property name="port" value="6379" />
        <property name="password" value="123456"/>
        <property name="database" value="10"/>

        <property name="configLocation" value="classpath:/redisCache.json"/>
    </bean>

    <bean id="testBean" class="com.tests.cache.TestBean" />
</beans>